@use '../../../styles.scss' as *;

.authForm {
  background-color: $discord-medium-gray;
  color: white;
  width: 40vw;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  h2 {
    font-size: 1rem;
    color: #aaa;
    font-weight: 400;
  }

  div {
    width: 100%;
    margin-top: 1rem;
  }
}

.birthdate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 0rem !important;

  #month {
    margin-right: 1rem;
  }

  #year {
    margin-left: 1rem;
  }
}
