@use '../../../styles.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.heroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: white;
  background-color: $discord-purple;

  h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
    font-weight: 900;
    letter-spacing: -0.15rem;
    padding: 0 1rem;
  }

  p {
    width: 40%;
    text-align: center;
    font-size: 1.5rem;

    @media screen and (max-width: 768px) {
      width: 80%;
    }
  }

  .buttonRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;

    button {
      margin: 0 1rem;
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
      button {
        margin: 1rem 0;
        width: 100%;
      }
    }
  }
}
