@use '../../../../styles.scss' as *;

.container {
  position: relative;
}

.channelIcon {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  color: white;
  margin: 0.5rem 0;
  background-color: $app-medium-bg;

  .serverName {
    position: absolute;
    left: 75px;
    visibility: hidden;
    color: white;
    background-color: black;
    z-index: 10;
    text-align: left;
    padding: 0.5rem;
    opacity: 0;
    border-radius: 5px;
    transition: visibility 0s, opacity 0.25s linear;
  }

  &:hover {
    cursor: pointer;
    background-color: $discord-purple;
    border-radius: 25%;

    .serverName {
      visibility: visible;
      opacity: 1;
    }
  }

  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

#messagesIconBorder {
  // half border along the bottom
  position: absolute;
  bottom: 0;
  width: 75%;
  height: 50%;
  left: 12.5%;
  border-bottom: 2px solid $app-light-bg;
}

.createChannelIcon {
  @extend .channelIcon;

  color: $app-green;

  &:hover {
    background-color: $app-green;
    color: white;
  }
}
